body {
    display: grid;
    margin: 0;
    grid-template-areas: "corpo lado" "corpo lado" "corpo lado";
    grid-template-columns: 47% 53%;
    height: 100vh;
}

#body {
    grid-area: corpo;
    background-color: #121214;
}

#lado {
    grid-area: lado;
    background-image: url(/RocketNews/assets/read_news.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}

#cabeca {
    margin: 70px 0px 100px 30px;
}

h1 {
    color: #04D361;
    margin: 15px 0px 0px 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

h2 {
    color: #ffffff;
    margin: 15px 0px 0px 30px;
    font-family: 'League Spartan',  sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

p {
    color: #ffffff;
    margin: 15px 0px 100px 30px;
    font-family: 'League Spartan',  sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

#insira {
    color: #A8A8A8;
    font-family: 'League Spartan',  sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: block;
}

#rodape {
    color: #8257e5;
    font-family: 'League Spartan',  sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-left: 30px;
    display: flex;
}

#email {
    margin: 0px 0px 70px 30px;
    height: 40px;
    background-image: url(/RocketNews/assets/Rectangle\ 4.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#enviar {
    background-image: url(/RocketNews/assets/button.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 47px;
    margin-left: -47px;
}

#juntos {
    display: flex;
    height: 47px;
    margin-bottom: 70px;

}

